# Template PDF file from the report
*/template.pdf

# mypy cache directory
.mypy_cache

# Ruff cache directory
.ruff_cache/

# vscode directory
.vscode/*

# wandb directory
wandb/

# models directory
models/

# __pycache__ directory
__pycache__/

# .DS_Store files
.DS_Store
