[submodule "datasets/virufy-data"]
	path = datasets/virufy-data
	url = https://github.com/virufy/virufy-data.git
[submodule "datasets/Coswara-Data"]
	path = datasets/Coswara-Data
	url = https://github.com/iiscleap/Coswara-Data.git
